.App {
  text-align: center;
  padding: 1rem;
  background-color: rgb(246, 220, 194);
}

.forms {
  display: flex;
  justify-content: right;
  margin-top: 2rem;
}

form {
  border: 1px solid #7c7272;
  padding: 2rem;
  width: 45%;
}

h2 {
  margin-top: 0;
}

input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: rgb(246, 244, 240);
}

button {
  background-color: #dfe4e9;
  color: #943c3c;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.popup-form {
    display: flexbox;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: pop-up 0.3s ease forwards;
}

@keyframes pop-up {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
